<h1>Add Cat</h1>

<form action="/lostcats" method="POST">
<p>
<label for="name">Name</label>
<br>
<input type="text" id="name" name="name">
</p>
<p>
<label for="breed">Breed</label>
<br>
<input type="text" id="breed" name="breed">
</p>
<p>
<label for="tel">Tel</label>
<br>
<input type="text" id="tel" name="tel">
</p>
<p>
<label for="pass">Password</label>
<br>
<input type="text" id="pass" name="pass">
</p>
<input type="submit" value="Submit">
</form>
